*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(19, 171, 231);
}
.container{
    max-width: 1000px;
    background-color: rgb(139, 139, 216);
    margin: 0 auto;
    padding: 20px;
}
#profile_picture{
    height: 120px;
    width: 100px;
    border: 2px solid white;
    border-radius: 50%;
    float: left;
  
}
.header-bio{
    float: left;
    padding: 30px;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact p a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.header-contact p a:hover{
    text-decoration: underline;
    color: wheat;
}
.div-clear{
    clear: both;
}
hr{
    border: dotted black 3px;
    margin: 20px auto;
    width: 100%;
    margin-bottom: 0px;
}
.personal-section{

}
.presonal-info{
    margin-bottom: 20px;
}
.left-div{
    width: 30%;
    float:left;
    margin-top: 15px;
}
.right-div{
    margin-top: 15px;
    width: 70%;
    float: left;
}
.comon-hr{
    border: solid black 1px;
    margin: 20px auto;
    width: 100%;
    margin-bottom: 0px;
}